build/
/pciod
/.deps
/debian
/pcio_util
/*.o
/*.so
.libs
/Makefile.in
/aclocal.m4
autom4te.cache/
*.lo
config.*
configure
/depcomp
/install-sh
*.la
m4/*.m4
/libtool
/ltmain.sh
/missing
/pcio-*.tar.gz
/stamp-h1
/Makefile

# ignore swap files and backups
*.swp
*.swo
*~
