<?xml version="1.0" ?>
<!-- @file 03-World-IK.urdf -->
<!-- @author Can Erdogan -->
<!-- @date May 13, 2013 -->
<!-- @brief Contains the definition for the world setup where the green arrow object -->
<!-- dictates the position and the direction for the end-effector and the red objects are the -->
<!-- obstacles that the IK should avoid. -->
 
<world name="schunk_with_desktop">
	<include filename="../objects/hundred.urdf" model_name="load"/>
	<include filename="../objects/point.urdf" model_name="point"/>
	<entity model="load" name="Load"> <origin xyz="0.8 0.5 0.0" rpy="1.5708 0 -1.5708"/> </entity>  
	<entity model="point" name="Point"> <origin xyz="0.8 0.5 0.18" rpy="1.5708 0 -1.5708"/> </entity>  
</world> 
